@import "../fonts/Comfortaa/stylesheet.css";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    color: white;
    list-style-type: none;
}
.button-card button:hover{
    background-color: grey;
}
.cons-foto{
    border-radius: 15px;
}
.button-card {
    display: flex;
    justify-content: center;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.box-title {
    margin-bottom: 15px;
}

.text-card {
    display: inline-block;
    max-height: 400px;
}
.img-float{
    border-radius: 15px;
}
.card-const {
    display: flex;
}
.learncard-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 30px 15px;
}

.test-tasks img {
    margin-right: 20px;
    border-radius: 15px;
}

.nav img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.card100500 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.const {
    text-align: left;
    display: inline-block;
    margin: 15px 30px;
}
.result input{
    background-color: #BAC3FF;
    color: black;
    border-radius: 7px;
    padding: 10px 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}
.result input:hover{
    background-color: grey;
}
button {
    background-color: #BAC3FF;
    color: black;
    border-radius: 7px;
    padding: 10px 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    border-radius: 15px;
    width: 400px;
    height: 420px;
    color: black;
    margin: 15px 20px;
    background-color: #6c6c70;
}

.card {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 30px 50px;

}

body {
    background-color: #2a2a3b;
    color: #E4E1E6;
    font-family: "Comfortaa", sans-serif;
}

.logoimg {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    align-items: center;
}

.nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li {
    margin-right: 20px;
}

.learn-box {
    display: flex;
}

.text-input-const {
    margin-left: 15px;
    display: inline-block;
}
.demo{
    font-size: 16px;
    line-height: 1.2;
}
.timer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}
.header-container {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #6a5acd;
    padding: 30px 20px;
}

.img-float {
    border-radius: 5px;
}
.result h2{
    margin-bottom: 300px;
}
.test-tasks {
    display: flex;
    margin: 30px 5px;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 15px;
}

.checkbox-box input[type="checkbox"] {
    display: inline-block;
}

.checkbox-box {
    display: flex;
    flex-direction: column;
}

.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    min-width: 400px;
    background: #f1f1f1;
    color: black;
    float: left;
    height: 42px;
    border-right: none;
    border-radius: 15px 0 0 15px;
}

.learn-cards {
    cursor: pointer;
}

.card-input h2 {
    display: inline-block;
    margin-bottom: 18px;
}

.search-form {
    margin-bottom: 19px;
}

.card-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the submit button */
.example button {
    height: 42px;
    min-width: 80px;
    padding: 10px;
    color: black;
    float: left;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    background: url(/static/img/search.svg) center no-repeat;
    background-color: #BAC3FF;
}

form.example button:hover {
    background-color: grey;
}
.result{
    text-align: center;
    margin-top: 100px;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}

.learn-cards {
    border-radius: 15px;
    background-color: #6c6c70;
    width: calc(100%/4 - 50px);
    padding: 40px 40px;
    margin: 15px;
}

.learncards-text h2 {
    font-weight: bold;
    color: white;
}