<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sideria</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header>
        <div class="header-container">
            <a href="/" class="logo">
                <img src="{{url_for('static', filename='img/icon.svg')}}" class="logoimg" alt="logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/test" class="photos header-test">
                        <img src="{{url_for('static', filename='img/copy.svg')}}" alt="">
                        <h1>Test</h1>
                    </a></li>
                    <li><a href="/" class="photos header-catalog">
                        <img src="{{url_for('static', filename='img/cassiopea.svg')}}" alt="stars">
                        <h1>Constellations</h1>
                    </a></li>
                    <li><a href="/learn" class="photos header-learn">
                        <img src="{{url_for('static', filename='img/graduation_1.svg')}}" alt="learn">
                        <h1>Learn</h1>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block main %}


        {% endblock %}
    </main>
    <footer>
    </footer>
</body>

</html>