{%extends 'base.html' %}

{% block main %}
<div class="main">
    <div class="search-form">
        <form class="example" action="" method="post">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.search(placeholder='Enter the name of the constellation..', type='text')}}
            <button class="example"></button>
        </form>
    </div>
    {%for i in range(0, dlina, 3)%}
    <div class="card100500">
        {%for j in range(3)%}
        {% if j+i < dlina %} <div class="card" onclick="location.href='/constellation/{{data[i+j].id}}'">
            <div class="card-input">
                <h2>{{data[i+j].title}}</h2>
                <img src="{{data[i+j].image}}" class="cons-foto" alt="" width="350" height=350">
            </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}