{%extends 'base.html' %}

{% block main %}
<div class="card">
    <div class="text">
        <h2>Aries</h2>
    <div class="img-card">
        <img src="../img/овен.jpg" class="cons1" alt="">
    </div>
    <div class="delta">
        <p>от +9° 55′ до +30° 40′</p>
    </div>
    <div class="alpha">
        <p>от 1h 40m до 3h 22m</p>
    </div>
    <div class="info">
     <h3>Ове́н (лат. Aries) — одно из наиболее известных зодиакальных созвездий, хотя в нём нет звёзд ярче второй величины. Три главные звезды — Хамаль («голова барана»), Шератан («след» или «знак») и Мезартим (соответственно α, β, и γ Овна) легко найти: они лежат к югу от Треугольника. Звезда четвёртой величины Мезартим стала одной из первых двойных звёзд, открытых при помощи телескопа (Робертом Гуком в 1664 году).</h3>
    </div>
</div>
{% endblock %}




<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Syderia</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <div class="header-container">
            <a class="logo">
                <img src="../img/constellation.svg" class="logoimg" alt="logo">
            </a>
            <nav>
                <ul class="nav">
                    <li><a href="/learn" id="s0">
                        <img src="../img/global.svg" alt="global">
                        <h1>Test</h1>
                    </a></li>
                    <li><a href="/cons" id="s1">
                        <img src="../img/learn.svg" alt="learn">
                        <h1>Learn</h1>
                    </a></li>
                    <li><a href="/test" id="s2">
                        <img src="../img/stars.svg" alt="stars">
                        <h1>Constellation</h1>
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <!-- {% block main %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>

</html> -->