{%extends 'base.html' %}

{% block main %}
<div class="main">
    <div class="search-form"><form class="example" action="">
        <input type="text" placeholder="Search.." name="search">
    </form></div>
    {%for i in range(0, dlina, 3)%}
            <div class="card100500">
            {%for j in range(3)%}
            {% if j+i < dlina %}
            <div class="card">
                    <img src="{{data[i+j].image}}" class="cons-foto" alt="" width="380" height="250">
                    <h2>{{data[i+j].title}}</h2>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
</div>
{% endblock %}