{%extends 'base.html' %}

{% block main %}
<div class="constel">
    <div class="container">
        <div class="const box-title">
            <h1>{{object.title}}</h1>
        </div>
        <div class="card-const">
            <div class="img-card"><img class="img-float" src="{{object.image}}" alt="" width="400" height="400"></div>
            <div class="text-card">
                <div class="const box-declination">
                    <h2>Склонение:</h2>{{object.declination}}
                </div>
                <div class="const box-ascent">
                    <h2>Прямое восхождение:</h2>{{object.ascent}}
                </div>
                <div class="const box-polush">
                    <h2>Расположение:</h2>
                    {% if object.polusharie == 1 %}
                    Северное
                    {% elif object.polusharie == 0 %}
                    Экваториальное
                    {% else %}
                    Южное
                    {% endif %}
                </div>
                <div class="const box-alpha">
                    <h2>Альфа звезды:</h2>{{object.alpha}}
                </div>
                <div class="const box-info">
                    <h2>Информация об созвездии:</h2>{{object.info}}
                </div>
                <div class="const box-lat">
                    <h2>Латинское название:</h2>{{object.lat}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}