{%extends 'base.html' %}

{% block main %}
{% if timer == 1%}
<p id="demo"></p>
{% endif %}
<div class="container">
<form method="post">
    {%for i in range(dlina) %}
    <div class="test-tasks">
            <img src="{{data[i].image}}" alt="">
            <div class="checkbox-box">
        {% for j in range(3) %}
        <div class="card-checkbox">
        <input type="checkbox" value="{{titles[i][j]}}"
            onclick="httpGet('/cookie/{{id}}/{{data[i].id}}/{{answers[i][j]}}')"><h2 class="text-input-const">{{titles[i][j]}}</h2><br></div>
        {% endfor %}
    </div></div>
    {% endfor %}
    <button type="submit" value="{{id}}" id="id" name="id">Отправить</button>
</form></div>
<script>
    function httpGet(url) {
        var ht = new XMLHttpRequest();
        ht.open("GET", url, false);
        ht.send(null);
    }


    var timer = 10 * 1000 * 60;

    function qwqw() {
        timer -= 1000;
        if(timer == 0){
            document.getElementById('id').click();
        }
        var minutes = Math.floor(timer / 60000);
        var seconds = timer / 1000 % 60;
        if (seconds < 10) {
            seconds = "0" + seconds;
        }
        if (minutes < 10) {
            minutes = "0" + minutes;
        }
        document.getElementById('demo').innerHTML = minutes + "m" + " " + seconds + "s";
    }
    setInterval(qwqw, 1000);


</script>
{% endblock %}