{%extends 'base.html' %}

{% block main %}
<div class="main">
    <div class="learn-box">
        <div class="learn-cards" onclick="location.href='/teach/-4'">
            <div class="learncard-text">
                <img class="learn-img" src="../static/img/north.svg" alt="">
                <h1>Северное полушарие</h1>
            </div>
        </div>
        <div class="learn-cards" onclick="location.href='/teach/-1'">
            <div class="learncard-text">
                <img class="learn-img" src="../static/img/south.svg" alt="">
                <h1>Южное полушарие</h1>
            </div>
        </div>
    </div>
    <div class="learn-box">
        <div class="learn-cards" onclick="location.href='/teach/-2'">
            <div class="learncard-text">
                <img class="learn-img" src="../static/img/infinity.svg" alt="">
                <h1>Все созвездия</h1>
            </div>
        </div>
        <div class="learn-cards" onclick="location.href='/teach/-3'">
            <div class="learncard-text">
                <img class="learn-img" src="../static/img/random.svg" alt="">
                <h1>Случайные созвездия</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}